/* -- dark-mode -- */

:root {
	--background: #1b1e23;
	--text-regular-1: #dddddd;
	--text-regular-2: var(--text-regular-1);
	--text-regular-3: var(--text-regular-1);
	--link-primary: var(--text-list-1);
	--sidebar-hover-background: #8fa9ba;
	--menu-selected-text: var(--text-list-1);
	--tag-button: #00a8ff;
}